@model IEnumerable<WebApp.Models.SATModel>

@{
    ViewData["Title"] = "EmailAVL";
}

<h1>EmailAVL</h1>

<p>
    <a asp-action="Create">Create New</a> <p>@ViewBag.Message</p> <p>@ViewData["Message"]</p>
<hr />
@Html.ActionLink("ID", "ID", new { }) |
@Html.ActionLink("Email", "Email", new { }) |
@Html.ActionLink("Serial", "Serial", new { }) |
@Html.ActionLink("SerialAVL", "SerialAVL", new { }) |
@Html.ActionLink("IDAVL", "IDAVL", new { }) |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Propietario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
